.card{
  width: 450px; /* Set the desired width of your card */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}
.button{
    text-align: center;
}
.login{
    position: relative;
    width: auto;
    height: fit-content;
}