<app-header [message]="message"></app-header>

<div class="mainpage">
    <div class="container bg-white rounded">

        <div class="row p-3">
            <div class="col-6">
                <img src="../../../assets/MLM hand Images.png" width="600px">
            </div>
            <div class="col-6 p-1">
                <p><b>In a world</b> that often seems fast-paced and individualistic, the simple act of helping one another has
                    the profound potential to create a positive ripple effect. When we extend a helping hand to someone
                    in need, and that person, in turn, pays it forward by helping another, a chain reaction of kindness
                    is set into motion</p>

                <p>The journey begins with an individual's decision to lend a helping hand to someone facing a challenge
                    or difficulty. It could be as simple as offering assistance, providing emotional support, or sharing
                    knowledge. This initial act of kindness sets the stage for a positive change, creating a connection
                    between two people and fostering a sense of community.</p>
                <p>we navigate the complexities of life, let us embrace the power of paying it forward, recognizing that
                    our actions, no matter how small, contribute to a larger movement of positive change. By fostering a
                    culture of kindness and empathy, we can collectively build a world where compassion is the guiding
                    force, and the ripple effect continues to inspire generations to come.</p>
            </div>
        </div>
    </div>
</div>

<div class="section2">
    <div class="container">
        <div class="row">
            <div class="col-8  p-3">
                <h3>Enrollment is the bridge between where you are and where you want to be. Take the first step – register and cross that bridge with determination.</h3>
            </div>
            <div class="col-4 p-3">
                <form class="form-inline my-2 my-lg-0 text-end">
                    <a class="btn btn-outline-white my-2 mx-1 ml-auto bg-white px-3" type="submit" href='registration'>
                        Get Started
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>