<app-header [message]="message" [isUserFlag]="isUserFlag"></app-header>
<!-- <div class="wrap-3">
    <div class="col-12 p-5 ">
  <h1 class="heading fs-1 text-center p-4">Coming Soon ....</h1></div> -->
  <div class="product">
  
    <div class="card" style="width: 18rem;" *ngFor="let items of IsData">
      <img class="card-img-top" src="../../../assets/boy.png" alt="Card image cap" width="200px" height="200px">
      <div class="card-body">
        <h5 class="card-title">{{items.name}}</h5>
        <!-- <p class="card-text"><span>Id: </span>{{items.id}}</p> -->
        <a (click)="userData(items.id)" class="card-link"><span>Id: </span>{{items.id}}</a>
      </div>
      <div class="card-body" *ngIf="items.id == IdValue">
        <div class="card" style="width: 10rem;" *ngFor="let items of isChildData">
          <img class="card-img-top" src="../../../assets/boy.png" alt="Card image cap" width="150px" height="100px">
          <div class="card-body">
            <h5 class="card-title">{{items.name}}</h5>
            <!-- <p class="card-text"><span>Id: </span>{{items.id}}</p> -->
            <a (click)="userData(items.id)" class="card-link"><span>Id: </span>{{items.id}}</a>
          </div>
        </div>
        <div *ngIf="isChildData.length==0">
          <p class="card-text fs-5">No Record Found</p>
        </div>
      </div>
    </div>
  <div class="product">
    <hr>
    <div class="card" style="width: 18rem;" *ngFor="let items of isChildData">
      <img class="card-img-top" src="../../../assets/boy.png" alt="Card image cap" width="150px" height="100px">
      <div class="card-body">
        <h5 class="card-title">{{items.name}}</h5>
        <!-- <p class="card-text"><span>Id: </span>{{items.id}}</p> -->
        <a (click)="userData(items.id)" class="card-link"><span>Id: </span>{{items.id}}</a>
      </div>
    </div>
  </div>

    </div>
  
<app-footer></app-footer>