<app-header [message]="message" [isUserFlag]="isUserFlag"></app-header>
<div class="wrap-3">
    <div class="col-12 p-5 ">
  <h1 class="heading fs-1 text-center p-4">Coming Soon ....</h1></div>
  <div class="product">
  
    <!-- <div class="card" style="width: 18rem;" *ngFor="let items of Productlists">
      <img class="card-img-top" src={{items.p_image}} alt="Card image cap" width="200px" height="200px">
      <div class="card-body">
        <h5 class="card-title">{{items.p_name}}</h5>
        <p class="card-text"><span>Price: </span>{{items.p_price}}</p>
      </div>
     
      <div class="card-body">
        
        <a  class="card-link">View Details</a>
      </div>
    </div> -->
    <!-- <div class="card" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Ansuh</h5>
          <p class="card-text"><span>Price: </span>65834</p>
        </div>
       
        <div class="card-body">
          
          <a  class="card-link">View Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Anya</h5>
          <p class="card-text"><span>Price: </span>65823</p>
        </div>
       
        <div class="card-body">
          
          <a  class="card-link">View Details</a>
        </div>
      </div>
    </div> -->
  </div>
<app-footer></app-footer>