.header{
    background: #081b7b;

    height: 25em;
}
.navbar-brand{
    color:white;
}
.nav-link{
    color:white;
}
.navbar-collapse {
    justify-content: end;
}

.mshow {
    align-items: center;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    padding: 3em;
}
